<footer>
    <div class="card-footer" style="height: 100px;">
        <div class="license" style="float: left;">
            <p>© 2020 Bản quyền thuộc về BlackClover</p>
        </div>
        <div class="address" style="float: right;">
            <p>
                Điện thoại: 028.66811397 <br>
                Địa chỉ: 09 Hà Văn Trí, Khuê Trung,<br>
                Tp Đà Nẵng
            </p>
        </div>
    </div>
</footer>