<div class="card">
    <div class="card-header">
        <div class="title">
            <h3><i class="fa fa-star mr-sm-3" style="color: rgb(223, 223, 22);"></i>Tin tuyển dụng</h3>
        </div>
        <div class="link">
            <a href="">Xem thêm <i class="fa fa-angle-double-right" style="color: rgb(16, 120, 255);"></i></a>
        </div>
    </div>
    <div class="card-body row">
        <div class="content content-left col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/logo.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6 ">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/fpt.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-left col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/cen.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-left col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/logo.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6 ">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/fpt.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-left col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/cen.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-left col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/logo.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6 ">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/fpt.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-left col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/cen.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="content content-right col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="content-wrapper">
                <a href="#" class="article row m-0">
                    <div class="logo-company col-4 d-flex align-items-center">
                        <div class="logo-background" style="background-image: url('/images/banvien.jpg')"></div>
                    </div>
                    <div class="card-title col-8">
                        <p class="card-text">Nhân viên thiết kế đồ họa ( Chấp nhận sinh viên mới ra trường )</p>
                        <p class="card-text">CÔNG TY CỔ PHẦN BABYLONS</p>
                        <p class="card-text row">
                            <span class="footer-card col-6">
                                <i class="fa fa-usd"></i> Thỏa thuận
                            </span>
                            <span class="footer-card col-6">
                                <i class="fa fa-map-marker"></i> Hồ Chí Minh
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>