<form class="form-inline col-12">
    <input class="form-control col-7" type="search" placeholder="Tìm kiếm theo tên công việc mà bạn muốn" aria-label="Search">
    <div class="form-group col-3">
        <select class="form-control col-12" id="sel1">
          <option>Tất cả địa điểm</option>
          <option>Đà Nẵng</option>
          <option>Hà Nội</option>
          <option>Hồ Chí Minh</option>
        </select>
      </div>
    <button class="btn btn-outline-success col-2" type="submit">Tìm kiếm</button>
  </form>
  <br>